/* Contents

0) Colors

1) Typography
2) Cards

*/

/* 0) Colors */
:root {
    --offwhite: #f8f8f8;
    --verylightgrey: #dfdfdf;
    --nicegreen: #17a740;
}

/* 1) Typography */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Maitree&family=Roboto&display=swap');

h1, h2 {
    font-family: 'Catamaran', sans-serif;
}

h3, h4, h5, h6 {
    font-family: 'Maitree', serif;
}

p, a {
    font-family: 'Roboto', sans-serif;
}

/* 2) Cards */

/* NOTE: this card class is overwriting Bootstrap */
.card {
    height: 300px;
    border: 0;
    /* border-radius: 10px; */
    /* border: solid rgb(215, 215, 215) 15px; */
    background-color: var(--verylightgrey);
}

.card-control-panel {
    /* background-color: red; */
    width: 80px;
    background-color: rgba(255,255,255,0.5);
}

.card-control-panel button {
    /* normalise */
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    /* resize */
    width: 50px;
    height: 50px;

    /* for smooth hover */
    transition: ease-in-out 0.2s;

}

.card-control-panel button:hover {
    transform: scale(0.8);

}

.card-control-panel p {
    font-size: 28px;
    /* transform: rotate(-18deg);
    margin-top: 15px;
    margin-right: 12px; */
}

.card-content {
    /* background-color: blue; */
    background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190322-ham-sandwich-horizontal-1553721016.png?crop=0.668xw:1.00xh;0.168xw,0&resize=980:*");
    background-size: cover;
}

.col-width {
    /* This will need to be changed for mobile widths (would not need to be a media query) */
    min-width: 500px;
    max-width: 50%;
}

/* NOTE: this will be handled by JS Script in future */
#card-1 {
    /* background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190322-ham-sandwich-horizontal-1553721016.png?crop=0.668xw:1.00xh;0.168xw,0&resize=980:*");
    background-size: cover; */
}

/* Other */
#navbar-icon {
    width: 30px;
    height: 30px;
}